@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularMVCApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <input type="text" ng-model="models.helloAngular" />
    <h1>{{models.helloAngular}}</h1>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="~/Scripts/AngularMVCApp.js"></script>
    <script src="~/Scripts/Controllers/LandingPageController.js"></script>
</body>
</html>
